
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap');

body{
    text-align: center;
    /* background-color: rgb(209, 209, 209); */
    /* background-color: rgb(22, 20, 20); */
    background-color: #1b1c1f;
}

#my_name{
    font-family: 'Open Sans', sans-serif;
    background-color: #dbd5d5;
    border-radius: 50%;
}

.links_list{
    
    font-family: 'Open Sans', sans-serif;
}

#headerDiv{
    background-color: rgb(218, 214, 214);
    width: auto;
    padding: auto;
    margin: auto;
    border-radius: 60px;
    height: auto;
}

.direct-links{
    color: #8ecae6;
    font-family: Arial, Helvetica, sans-serif
}

.profile-heading{
    /* color:rgb(255, 255, 255); */
    color:#e9d8a6;
}

.light-mode-link{
    color : #e5e5e5;
    font-family: initial;
}